


html, body {
 margin: 0;
 padding: 0;
 }
body {
 background-color: white; 
 font-family: Verdana, sans-serif; 
 font-size: 100%;
 }
h1 {
 font-size: 200%; 
 color: navy; 
 text-align: center;
 }
 

h2 {
 font-size: 150%; 
 color: #d69030; 
 padding-left: 15px;
 }
 
p,ul,li,td {
 color: black; 
 }
 
a:link {
 color: green;
 text-decoration: underline;
 }
a:visited {
 color: gray;
 }
a:hover {
 color: red;
 text-decoration: none;
}
a:active, a:focus {
 color: red;
}

.red {
 color: red; 
 }
 
.puce {
 font-size: 14pt; 
 } 
 
 
footer:after {
    content: attr(label);
    font-size: 12pt;
    position: absolute;
    bottom: 20px;
    left: 100px;
    line-height: 1.9;
  }
.column {
  float: left;
  width: 33.33%;
 text-align : center;
}
.columnbis {
  float: left;
  width: 33%;
 text-align : center;
}

.carto{
font-size:12pt;
line-height: 1.2;
text-align:left;
padding: 0 12px 25px 12px;
}

.col_3{
font-size:11.5pt;
line-height: 1.2;
text-align:left;
padding: 102px 0 0 140px;
}

.col_3_bis{
font-size:16pt;
line-height: 1.3;
text-align:left;
padding: 60px 0 0 90px;
}

.col_3_ter{
font-size:14pt;
line-height: 1.15;
text-align:left;
padding: 0 0 0 90px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}